<div class="text-center mb-4">
    <h2 class="fw-bold">Admin Dashboard</h2>
  </div>

  <div class="row g-3 mb-4 text-center">
    <div class="col-6 col-md-4">
      <div class="card border-1">
        <div class="card-body">
          <h6 class="text-muted mb-1">Users</h6>
          <h4 class="fw-bold">3</h4>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <div class="card  border-1">
        <div class="card-body">
          <h6 class="text-muted mb-1">Products</h6>
          <h4 class="fw-bold">12</h4>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <div class="card border-1">
        <div class="card-body">
          <h6 class="text-muted mb-1">Orders</h6>
          <h4 class="fw-bold">2</h4>
        </div>
      </div>
    </div>
    
  </div>
